
body{
      margin: 0;
      padding: 0;
}
.wrap{
  background-color: rgb(246, 251, 244);
  width: 75%;
  height: 100%;
  margin-left: 12.5%;
  margin-top: 0px;
  
  /*border:solid;
  border-radius: 10px;
  border-color:rgb(223, 243, 215) ;*/
}
.top {
 
  display: grid;
  grid-template-columns: 1fr;


}


.inside_header_img_logu, .inside_header_text{
      display: inline-block;
}
.inside_header_img_logu{
      margin-top: -5px;
     
}
.inside_header_text{
      border: none;
      margin-left: 10px;
      vertical-align: top; 
      font-style:italic;
      font-weight:bolder;
      font-size:50px;
      background: linear-gradient(to right,rgb(246, 251, 244)1%,  rgb(246, 251, 244) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;  
      cursor: pointer;

}
.inside_header_text:hover{
      opacity: .3;
      transform: 2s;
}


.menu{
      
      padding-left: 100px;
      padding-top: 5px;
      padding-bottom: 10px;  
      height: 55px;
      background: linear-gradient(to right,rgb(75, 134, 115) 30%,   rgb(95, 208, 104)100%);
}



  .admin_button,.problem_button,.discuss_button, .contest_button{

        display: inline-block;
        margin-left: 30px;
        background-color: transparent;
        vertical-align: top;
        font-size: 25px;
        font-style: italic;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        cursor: pointer;

}

.admin_button:hover,.problem_button:hover,.discuss_button:hover, .status_button:hover,.contest_button:hover{
        opacity: .3;
        transform: 2s;
}


.body_column {
      margin-top: 100px;
      display: grid;
      grid-template-columns:70% 30% 1fr 1fr;
      height: 670px;

}

.right_body_column, .left_body_column {
      font-size: 30px;
      text-align: center;
}

.left_body_column{
      display: grid;
      grid-template-columns: auto;
      row-gap: 5px;
      grid-template-rows: 300px 300px;

}
.quote{
}

.unleash, .skill, .it_will, .rockstar,.programmer{
      font-size: 50px;
      display: block;
      text-align: center;
      
}
.unleash, .programmer{
      background: linear-gradient(to right,green 10%,  rgb(245, 223, 153)  100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
      font-weight: bold;
}
.skill, .rockstar{
  /*    background: linear-gradient(to right,black 0%,  rgb(235, 183, 13)  90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
}
.login_signup_div{
}
.login_button, .signup_button{
      margin-top: 0;
      width: 200px;
      height: 50px;
      font-size: 30px;
      background-color: green;
      color: white;
      border: none;
      cursor: pointer;
      margin-top: 30px;
      border-radius: 10px;     
      
}
.login_button:hover, .signup_button:hover{
      opacity: 0.3;
      transform: 2s;
}
.signup_button{
      background-color:rgb(245, 223, 153) ;
      margin-left: 50px;
      color:black;
}
.right_body_column {
      display: grid;
      grid-template-columns: 1fr;
      background-color: white;
      margin-right: 50px;
      margin-bottom:50px;
      border: solid;
      border-radius: 15px;
      border-color: rgb(246, 251, 244);
      box-shadow: 1px 5px 5px  5px rgb(223, 243, 215); 
      text-align: center;
      font-size: 20px;

}


.contest_img{
      margin-left: 50px;
}
.contest_join{
      width: 150px;
      background-color: rgb(75, 134, 115); 
      color:white;
      font-size: 20px;
      margin-left: 32%;
      border: none;
      margin-bottom: 50px;
}
.upcoming_contest{

      line-height: 80px;
      font-size: 25px;
}
 .contest,.name,.date, .start, .end{
      font-size: 25px;
      font-weight: bold;
      color:  rgb(75, 134, 115); 
}
.contest_name, .contest_date, .contest_start,.contest_end{
      display: block;
      line-height: 32px;

}
.footer{
      display: grid;
      grid-template-columns:50% 50% 1fr 1fr;
      height: 80px;
      font-size: 20px;
       padding-top: 20px;
       background: linear-gradient(to right,rgb(75, 134, 115) 30%,   rgb(95, 208, 104)100%);
      }
.footer_text{
      margin-left: 100px;
      display: block;

}
.server,.footer{
      color:black;      
}
