

body{
  margin: 0;
  padding: 0;
}
.wrap{
  background-color: rgb(246, 251, 244);
  width: 75%;
  height: 100%;
  margin-left: 12.5%;
  /*border:solid;
  border-radius: 10px;
  border-color:rgb(223, 243, 215) ;*/
}
.top {
 
  display: grid;
  grid-template-columns: 1fr;


}


.inside_header_img_logu, .inside_header_text{
      display: inline-block;
}
.inside_header_img_logu{
      margin-top: -5px;
     
}
.inside_header_text{
  border: none;
  margin-left: 10px;
  vertical-align: top; 
  font-style:italic;
  font-weight:bolder;
  font-size:50px;
  background: linear-gradient(to right,rgb(246, 251, 244)1%,  rgb(246, 251, 244) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;  
  cursor: pointer;

}
.inside_header_text:hover{
  opacity: .3;
  transform: 2s;
}


.menu{
      
      padding-left: 100px;
      padding-top: 5px;
      padding-bottom: 10px;  
      height: 55px;
      background: linear-gradient(to right,rgb(75, 134, 115) 30%,   rgb(95, 208, 104)100%);
}



  .admin_button,.problem_button,.discuss_button, .contest_button,.login_button, .signup_button{

        display: inline-block;
        margin-left: 30px;
        background-color: transparent;
        vertical-align: top;
        font-size: 25px;
        font-style: italic;
        font-weight: bold;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        cursor: pointer;

}

.admin_button:hover,.problem_button:hover,.discuss_button:hover, .status_button:hover,.contest_button:hover,.login_button:hover, .signup_button:hover{
        opacity: .3;
        transform: 2s;
}
.login_button,.signup_button{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0px;
  }
  .login_button{
  margin-left: 30px;
  }

.second_menu{
  width: 100%;
  height: 40px;
  margin-top: 30px;
}
.standing_button, .submission_button, .main_button{

  border:none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold ;
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  
  

}
.standing_button:hover, .submission_button:hover, .main_button:hover{
 opacity: .3;
 transform: 2s;
}

.second_menu a{
 text-decoration: none;
 
}
.body_column {
      margin-top: 100px;      

}
.all_submission{
      margin-bottom: 50px;
      text-align: center;
}
table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      height: 550px;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: white;
    }
    td{
      padding: 10px;
    }
    /* Next Previous button*/
    .next_previou_button{
      margin-top: 25px;
      margin-bottom: 50px;
    }
    .next_previou_button a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
    
    .next_previou_button  a:hover {
      background-color: #ddd;
      color: black;
    }
    .verdict{
       color: rgb(95, 208, 104);
       font-weight: bold;
    }
    .previous,.next {
      background-color:white;
      color: black;
     
    }
    
    
    .round {
      border-radius: 50%;
    }
.footer{
      display: grid;
      grid-template-columns:50% 50% 1fr 1fr;
      height: 80px;
      font-size: 20px;
       padding-top: 20px;
       background: linear-gradient(to right,rgb(75, 134, 115) 30%,   rgb(95, 208, 104)100%);
      }
.footer_text{
      margin-left: 100px;
      display: block;

}
.server,.footer{
      color:black;      
}
